body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 550px;
    background-image: url(https://img00.deviantart.net/d9fa/i/2017/125/4/d/minimalist_wallpaper___we_bare_bears_by_anfoflash-dackme1.png);
    margin: 20px auto;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0px 10px 10px rgba(0, 0, 0, .5);  
}
#results{
    height: 20px;
}
#history{
    text-align: right;
    height: 10px;
    margin: 0 10px;
    padding-top: 10px;
    font-size: 20px;
    color: #919191;
}
#output{
    text-align: right;
    height: 30px;
    margin: 20px 10px;
    font-size: 30px;

}
#keyboard{
    height:5px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color: burlywood;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
.operator{
    font-size: 15px;
    background-color: #e38b4c;
}

